<div class="jumbotron text-center">
    <h1>BloxMade partners portal</h1>
    <h2>Login or Sign Up below to start working hand in hand with BloxMade!</h2>
</div>
<div class="row">
    <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">New Partners</h2>
      <h4>Your customers deserve the best experience, sign up for a BloxMade printing partner account to meet your business needs head on!</h4>
      <br/>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Existing Partners</h2>
      <h4>Sign in to your existing BloxMade printing partner account to review current print jobs, request new models, and get updates in real time.</h4>
      <br/>
      <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
     </div>
</div>
